
@{
	ViewBag.Title = "Login";
}
	<br />
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="usernameInputLabel" class="col-sm-2 control-label">Korisničko ime</label>
			<div class="col-sm-10">
				<input class="form-control" id="usernameInput" placeholder="Korisničko ime">
			</div>
		</div>
		<div class="form-group">
			<label for="passwordInput" class="col-sm-2 control-label">Lozinka</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="passwordInput" placeholder="Lozinka">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox">
					<label>
						<input type="checkbox"> Zapamti me
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-default">Registruj se</button>
				<button type="submit" class="btn btn-primary">Prijava</button>
			</div>
		</div>
	</form>			

