<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<configSections>
  </configSections>
  <connectionStrings>
    <add name="FITBiD.Properties.Settings.ConnectionString" connectionString="Data Source=si009.app.fit.ba,1434;Persist Security Info=True;User ID=kokolada;Password=llI0o3?4"
      providerName="System.Data.SqlClient" />
    <add name="FITBiD.Properties.Settings.FITBiDConnectionString"
      connectionString="Data Source=&quot;si009.app.fit.ba, 1434&quot;;Initial Catalog=FITBiD;Persist Security Info=True;User ID=kokolada;Password=llI0o3?4"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
		</startup>
</configuration>
