body {
}

textarea {
    max-width: inherit;
}

#postavljanjePitanjaWrapper {
    color: #33333F;
}
#postavljanjePitanjaWrapper select {
    max-width: inherit;
}

.divLayout {
    background-color: #F5F5F5;
    border: 1px dashed #CFCFCF;
    border-radius: 2px;
    padding: 10px; 
}

.divLayoutDivider {
    margin-bottom: 8px;
    margin-top: 18px;
    border-color: #D2D4D3;
}

#knjigaWrapper {
    font-size: 15px;
    letter-spacing: 1px;
}

.positionButton {
    padding: 2px 10px;
}

#objavaButton {
    margin-left: 425px;
}

.buttonThinStyle {
    padding: 0.1px 10px;
}