@model FITBiD_empty.ViewModels.WorkersViewModel


<table class="table table-striped">
	<thead>
		<tr>
			<th>Ucionica</th>
			<th>Bar Kod Kljuca</th>
			<th>Nastavno osoblje</th>
		</tr>
	</thead>
	<tbody>
		@foreach(FITBiD_empty.ViewModels.WorkersViewModel.EvidencijaKljucevaInfo x in Model.eki) {
			<tr>
				<td>@x.NazivUcionice</td>
				<td>@x.BarKodKljuca</td>
				<td>@x.NastavnoOsoblje</td>


			</tr>

		}

	</tbody>
</table>
