@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="well col-md-offset-3 col-md-6" style="margin-top: 20px">
        <h4>"Trazim knjigu za računarskih mreža, pomoć ?&nbsp;"</h4>
        <p>
            <small>Obajvio: Antonio, 12.1.2014</small><br/>
            <hr/>
            Your answer:
            <input type="text" class="form-control"/>
            <a href="#" class="btn btn-sm btn-default pull-right">Odgovori</a>
        </p>
    </div>
  
    <div class="well col-md-offset-3 col-md-6" style="margin-top: 20px">
        <p><b>"A da probaš sa nastavnim materijalima ?&nbsp;"</b></p>
        <p>
            <small>Odgovorio: Harun, 12.1.2014</small><br />
           
        </p>
    </div>


</div>